# Assignment 9

# Ask a user for his or her appointment date and calculate how many weeks and days the user has until that appointment date from current date

In [20]:
import datetime
date = datetime.date(2022,5,28)
date
currentdate = datetime.date.today()
currentdate
cdate = input('Please provide a date in this format(d/m/Y)')
date2 = datetime.datetime.strptime(cdate,'%d/%m/%Y').date()
print(date2)
currentdate - date

Please provide a date in this format(d/m/Y)25/12/2022
2022-12-25

datetime.timedelta(days=92)

In [26]:
td = datetime.timedelta(weeks=17)
currentdate +td

datetime.date(2022, 12, 25)

In [28]:
ed = datetime.date(2022,5,28)
trnd = ed - currentdate
trnd.days // -4

23

# Assignment 8

# Develop an IQ test program

In [83]:
answer_to_question = {
    'Q1':[4,5,2,3,6],
    'Q2':[5,10,2,11,5],
    'Q3':['Way of life','Citizen right','Company Alliance'],
    'Q4':['Information','Facts and statistics','Variables','Values'],
    'Q5':['System of government','actual right','federalism','Nigeria law'],
    'Q6':[8,7,5,4,6],
    'Q7':[2,4,3,6],
    'Q8':['For connection','to advertise','to decorate the office'],
    'Q9':[14,4,10,8,19],
    'Q10':[4,5,10,7,3]
}
Name = input('Please provide your name:')
age = float(input('please provide your age:'))
quizscore = 0
starttime = datetime.datetime.now()
answer = int(input('How many part is computer divided into:'))
if answer == answer_to_question['Q1'][2]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = int(input('How many types of programming did we considered:'))
if answer == answer_to_question['Q2'][2]:
    quizscore = quizscore + 5
else:
    quizscore + 0
answer = input('What culture is:')
if answer == answer_to_question['Q3'][0]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = input('What is data:')
if answer == answer_to_question['Q4'][3]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = input('What is democracy:')
if answer == answer_to_question['Q5'][1]:
    quizscore = quizscore + 5
else:
    quizscore + 0

answer = int(input('How many brand of laptop do we have:'))
if answer == answer_to_question['Q6'][4]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = int(input('How many data type did we considered:'))
if answer == answer_to_question['Q7'][1]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = input('What is Wifi  used for:')
if answer == answer_to_question['Q8'][0]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = int(input('How many legs does a dog have:'))
if answer == answer_to_question['Q9'][4]:
    quizscore = quizscore + 5
else:
    quizscore + 0
    
answer = int(input('How many types of variable do we have:'))
if answer == answer_to_question['Q10'][2]:
    quizscore = quizscore + 5
else:
    quizscore + 0
stoptime =  datetime.datetime.now()
diff = stoptime - starttime
iqtest = (quizscore/age) * 50

if iqtest  <= 20:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are extremely low')
elif iqtest  >= 5 and iqtest <= 9:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are very low')
elif iqtest  >= 10 and iqtest <= 19:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are Averagely low')
elif iqtest  >= 20 and iqtest <= 29:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are Average')
elif iqtest  >= 30 and iqtest <= 39:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are Highly Average')
elif iqtest  >= 40 and iqtest <= 59:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are Very High')
else:
    print(f'Your score is {quizscore} in {diff.seconds} time therefore you are extremely High')

Please provide your name:Gift
please provide your age:26
How many part is computer divided into:4
How many types of programming did we considered:2
What culture is:Way of life
What is data:Facts and statistics
What is democracy:System of government
How many brand of laptop do we have:8
How many data type did we considered:2
What is Wifi  used for:For connection
How many legs does a dog have:4
How many types of variable do we have:4
Your score is 15 in 67 time therefore you are Average

# Assignment 10


# create a table for spanish league, italian league and french league having the same column name as the english premier league. Insert the clubs with their various records

# Spanish League

In [34]:
import pymysql

In [35]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemigift2'
)
mycursor = mydb.cursor()

In [37]:
mycursor.execute('create database foreignfootballmanagementsystem')

1

In [38]:
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('footballmanagementsystem',)
('foreignfootballmanagementsystem',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [39]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'opeyemigift2',
    database = 'foreignfootballmanagementsystem'
)
mycursor = mydb.cursor()

In [40]:
mycursor.execute('create table EPI(PositionalID int not null primary key,Team varchar(255) not null,Win int not null,Draw int not null, Lost int not null, GoalFor int not null,GoalAgainst int not null,GoalDifference int not null)')

0

In [54]:
mycursor.execute('alter table Spanish_league add column Point int not null')

In [41]:
mycursor.execute('alter table epi rename to Spanish_League')

0

In [42]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('spanish_league',)

In [44]:
mycursor.execute('show columns from Spanish_League')
for x in mycursor:
    print(x)

('PositionalID', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('GoalFor', 'int', 'NO', '', None, '')
('GoalAgainst', 'int', 'NO', '', None, '')
('GoalDifference', 'int', 'NO', '', None, '')

In [46]:
mycursor.execute('alter table spanish_league add column MatchPlayed int not null after Team')
mycursor.execute('show columns from spanish_league')
for x in mycursor:
    print(x)

('PositionalID', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('MatchPlayed', 'int', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('GoalFor', 'int', 'NO', '', None, '')
('GoalAgainst', 'int', 'NO', '', None, '')
('GoalDifference', 'int', 'NO', '', None, '')

In [55]:
sql = 'insert into spanish_league(PositionalID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val =[(1,'Real Betis',3,3,0,0,6,1,5,9),
     (2,'Villarreal',3,2,1,0,5,0,5,7),
     (3,'Real Madrid',2,2,0,0,6,2,4,6),
     (4,'Osasuna',3,2,0,1,4,2,2,6),
     (5,'Real Sociedad',3,2,0,1,3,4,-1,6),
     (6,'Barcelona',3,1,2,0,4,1,3,5),
     (7,'Mallorca',3,1,1,1,3,2,1,4),
     (8,'Athletic club',2,1,1,0,1,0,1,4),
     (9,'Almeria',3,1,1,1,4,4,0,4),
     (10,'Rayo Vallecano',3,1,1,1,2,2,0,4)]
mycursor.executemany(sql,val)
mydb.commit()

In [56]:
mycursor.execute('select * from Spanish_league')
for x in mycursor:
    print(x)

(1, 'Real Betis', 3, 3, 0, 0, 6, 1, 5, 9)
(2, 'Villarreal', 3, 2, 1, 0, 5, 0, 5, 7)
(3, 'Real Madrid', 2, 2, 0, 0, 6, 2, 4, 6)
(4, 'Osasuna', 3, 2, 0, 1, 4, 2, 2, 6)
(5, 'Real Sociedad', 3, 2, 0, 1, 3, 4, -1, 6)
(6, 'Barcelona', 3, 1, 2, 0, 4, 1, 3, 5)
(7, 'Mallorca', 3, 1, 1, 1, 3, 2, 1, 4)
(8, 'Athletic club', 2, 1, 1, 0, 1, 0, 1, 4)
(9, 'Almeria', 3, 1, 1, 1, 4, 4, 0, 4)
(10, 'Rayo Vallecano', 3, 1, 1, 1, 2, 2, 0, 4)

# For Italian League

In [57]:
mycursor.execute('create table ItalianLeague(PositionalID int not null primary key,Team varchar(255) not null,Win int not null,Draw int not null, Lost int not null, GoalFor int not null,GoalAgainst int not null,GoalDifference int not null,Point int not null)')

0

In [58]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('italianleague',)
('spanish_league',)

In [61]:
mycursor.execute('alter table italianleague add column MatchPlayed int not null after Team')
mycursor.execute('show columns from italianleague')
for x in mycursor:
    print(x)

('PositionalID', 'int', 'NO', 'PRI', None, '')
('Team', 'varchar(255)', 'NO', '', None, '')
('MatchPlayed', 'int', 'NO', '', None, '')
('Win', 'int', 'NO', '', None, '')
('Draw', 'int', 'NO', '', None, '')
('Lost', 'int', 'NO', '', None, '')
('GoalFor', 'int', 'NO', '', None, '')
('GoalAgainst', 'int', 'NO', '', None, '')
('GoalDifference', 'int', 'NO', '', None, '')
('Point', 'int', 'NO', '', None, '')

In [69]:
sql = 'insert into italianleague(PositionalID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'Milan',3,2,1,0,7,3,4,7),
      (2,'Lazio',3,2,1,0,5,2,3,7),
      (3,'Atalanta',3,2,1,0,4,1,3,7),
      (4,'Torino',3,2,1,0,4,2,2,7),
      (5,'Roma',3,2,1,0,3,1,2,7),
      (6,'Napoli',2,2,0,0,9,2,7,6),
      (7,'Inter',3,2,0,1,6,4,2,6),
      (8,'Juventus',3,1,2,0,4,1,3,5),
      (9,'Fiorentina',2,1,1,0,3,2,1,4),
      (10,'Salernitana',3,1,1,1,3,1,2,4)]
mycursor.executemany(sql, val)
mydb.commit()

IntegrityError: (1062, "Duplicate entry '1' for key 'italianleague.PRIMARY'")

In [70]:
mycursor.execute('select * from italianleague')
for x in mycursor:
    print(x)

(1, 'Milan', 3, 2, 1, 0, 7, 3, 4, 7)
(2, 'Lazio', 3, 2, 1, 0, 5, 2, 3, 7)
(3, 'Atalanta', 3, 2, 1, 0, 4, 1, 3, 7)
(4, 'Torino', 3, 2, 1, 0, 4, 2, 2, 7)
(5, 'Roma', 3, 2, 1, 0, 3, 1, 2, 7)
(6, 'Napoli', 2, 2, 0, 0, 9, 2, 7, 6)
(7, 'Inter', 3, 2, 0, 1, 6, 4, 2, 6)
(8, 'Juventus', 3, 1, 2, 0, 4, 1, 3, 5)
(9, 'Fiorentina', 2, 1, 1, 0, 3, 2, 1, 4)
(10, 'Salernitana', 3, 1, 1, 1, 3, 1, 2, 4)

# for French league

In [72]:
mycursor.execute('create table French_League(PositionalID int not null primary key,Team varchar(255) not null,MatchPlayed int not null,Win int not null,Draw int not null, Lost int not null, GoalFor int not null,GoalAgainst int not null,GoalDifference int not null,Point int not null)')

0

In [73]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('french_league',)
('italianleague',)
('spanish_league',)

In [81]:
sql = 'insert into French_League(PositionalID,Team,MatchPlayed,Win,Draw,Lost,GoalFor,GoalAgainst,Goaldifference,Point) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1,'Marseille',4,3,1,0,10,3,7,10),
      (2,'Lens',4,3,1,0,9,4,5,10),
      (3,'PSG',3,3,0,0,17,3,14,9),
      (4,'Lyon',3,2,1,0,7,3,4,7),
      (5,'Lorient',3,2,1,0,5,3,2,7),
      (6,'LOSC',4,2,1,1,9,10,-1,7),
      (7,'Auxerre',4,2,1,1,6,7,-1,7),
      (8,'Montpellier',4,2,0,2,13,9,4,6),
      (9,'Clermont Foot',4,2,0,2,6,9,-3,6),
      (10,'Toulouse',4,1,2,1,7,6,1,5)]
mycursor.executemany(sql,val)
mydb.commit()

In [82]:
mycursor.execute('select * from French_League')
for x in mycursor:
    print(x)

(1, 'Marseille', 4, 3, 1, 0, 10, 3, 7, 10)
(2, 'Lens', 4, 3, 1, 0, 9, 4, 5, 10)
(3, 'PSG', 3, 3, 0, 0, 17, 3, 14, 9)
(4, 'Lyon', 3, 2, 1, 0, 7, 3, 4, 7)
(5, 'Lorient', 3, 2, 1, 0, 5, 3, 2, 7)
(6, 'LOSC', 4, 2, 1, 1, 9, 10, -1, 7)
(7, 'Auxerre', 4, 2, 1, 1, 6, 7, -1, 7)
(8, 'Montpellier', 4, 2, 0, 2, 13, 9, 4, 6)
(9, 'Clermont Foot', 4, 2, 0, 2, 6, 9, -3, 6)
(10, 'Toulouse', 4, 1, 2, 1, 7, 6, 1, 5)